body {
  height: 1000px;
  justify-content: center;
  border: 1px solid;
  width: 375px;
  align-items: center;
}

section {
  position: absolute;
  height: 718px;
  width: 375px;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  width: 76px;
  height: 20px;
  color: #6070ff;
  background: rgba(255, 255, 255, 1);
}

#header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  justify-content: baseline;
  align-items: center;
  color: #172b4d;
  order: 0;
  width: 327px;
  height: 150px;
  top: 114px;
  margin-left: 24px;
  margin-right: 300px;
  margin-bottom: 12px;
  margin-top: 110px;
}

#headline-paragraph {
  width: 327px;
  height: 146px;
  top: 276px;
  left: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin-left: 24px;
  margin-right: 24px;
}

#contact-link {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
  order: 0;
  margin-left: 24px;
  text-decoration: none;
}

#vector-1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  border: 2px #acb7c3;
  margin-left: 270px;
  margin-top: -40px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: 24px;
  margin-right: 180.83px;
  width: 200px;
}

.headline-section {
  background-image: url(./images/Background\ image.png.jpeg);
}

.link:hover {
  background-color: #6070ff;
}

.top-nav {
  overflow: hidden;
  position: relative;
  height: 90px;
  background: #dee0df;
}

#top-nav a {
  padding: 14px 16px;
  display: block;
}

.logo {
  font-family: "Poppins", sans-serif;
  width: 76px;
  height: 20px;
  margin-top: 50px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #6070ff;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#hamburger {
  margin-left: 270px;
  margin-bottom: -35px;
  margin-top: -50px;
  border: none;
  outline: none;
}

.blue-color {
  color: #6070ff;
}

#time {
  height: 16px;
  width: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  margin-left: 50px;
  margin-top: 20px;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 30px;
  margin-left: 230px;
  margin-top: -45px;
}

#battery {
  height: 16px;
  width: 38px;
}

#cellular {
  width: 38px;
  height: 18px;
}

#wifi-icon {
  height: 28px;
  width: 38px;
  margin-top: -5px;
}

.logo-fa-icons {
  margin-top: -15px;
  margin-bottom: 50px;
  align-items: center;
}
