body {
  display: grid;
  height: 5433.5px;
  justify-content: center;
  width: 375px;
  align-items: flex-start;
  margin-left: 40%;
  background: #e5e5e5;
}

#nav-section {
  display: flex;
  width: 375px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
  border-radius: 0;
}

#top-section {
  margin-top: 8.5%;
  background: rgba(255, 255, 255, 0.5);
}

section {
  position: absolute;
  height: 630px;
  width: 375px;
  border-bottom-left-radius: 85px;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  width: 76px;
  height: 20px;
  color: #6070ff;
  background: rgba(255, 255, 255, 1);
}

#header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  justify-content: baseline;
  align-items: center;
  color: #172b4d;
  order: 0;
  width: 327px;
  height: 150px;
  top: 114px;
  margin-left: 24px;
  margin-right: 300px;
  margin-bottom: 12px;
  margin-top: 110px;
}

#about-header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  justify-content: baseline;
  align-items: center;
  color: #172b4d;
  order: 0;
  width: 327px;
  height: 150px;
  top: 114px;
  margin-left: 24px;
  margin-right: 300px;
  margin-bottom: 12px;
  margin-top: 110px;
}

#headline-paragraph {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin-left: 24px;
  margin-right: 24px;
}

#contact-link {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
  order: 0;
  margin-left: 24px;
  text-decoration: none;
}

#vector-1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  border: 2px #acb7c3;
  margin-left: 270px;
  margin-top: -40px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: 24px;
  margin-right: 180.83px;
  width: 200px;
}

.headline-section {
  background-image: url(./images/Background\ image.png.jpeg);
}

.link:hover {
  background-color: #6070ff;
  border-radius: 8px;
}

.top-nav {
  overflow: hidden;
  position: relative;
  height: 90px;
  background: rgba(255, 255, 255, 1);
}

#top-nav a {
  padding: 14px 16px;
  display: block;
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  font-family: "Poppins", sans-serif;
  width: 76px;
  height: 20px;
  margin-top: 50px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #6070ff;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#hamburger {
  margin-left: 270px;
  margin-bottom: -35px;
  margin-top: -50px;
  border: none;
  outline: none;
}

.blue-color {
  color: #6070ff;
}

#time {
  height: 16px;
  width: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  margin-left: 50px;
  margin-top: 20px;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 30px;
  margin-left: 230px;
  margin-top: -45px;
}

#battery {
  height: 16px;
  width: 38px;
}

#cellular {
  width: 38px;
  height: 18px;
}

#wifi-icon {
  height: 28px;
  width: 38px;
  margin-top: -5px;
}

.logo-fa-icons {
  margin-top: -15px;
  margin-bottom: 50px;
  align-items: center;
}

/* Day 4 project styling starts here */

.works-section {
  display: flex;
  flex-direction: column;
}

.project-1 {
  width: 85%;
  height: 552px;
  margin-top: 235%;
  margin-left: 2.5%;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
  display: flex;
}

.img-project {
  margin-top: 4%;
  width: 95%;
  height: auto;
  margin-left: 2%;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(96, 112, 255, 1);
  border-radius: 5px;
  border: none;
  background: rgba(235, 235, 255, 1);
}

#prjct-img-1 {
  margin-left: 4%;
  width: 100%;
}

.project-2 {
  width: 90%;
  height: 552px;
  margin-top: 190%;
  border-radius: 16px;
  margin-left: -4%;
  padding: 16px;
  gap: 12px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
}

.project-3 {
  width: 90%;
  height: 552px;
  margin-top: 35%;
  margin-left: -5%;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
}

.project-4 {
  width: 90%;
  height: 552px;
  margin-top: 40%;
  margin-left: -4%;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
}

.lang-btn-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  margin-left: -6%;
  margin-top: -1%;
}

.prjct-text-m {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: -3%;
}

.prjct-text-t {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2%;
}

.multi-post {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 1%;
  color: rgba(23, 43, 77, 1);
}

.radio-btns {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 2%;
  margin-top: -2%;
}

.back-end {
  color: rgba(122, 134, 154, 1);
}

.radio {
  background: rgba(193, 199, 208, 0);
}

.canopy-1 {
  margin-top: -5%;
  color: rgba(52, 69, 99, 1);
}

.canopy {
  color: rgba(52, 69, 99, 1);
}

.about-myself {
  width: 375px;
  height: 1263px;
  margin-top: 39.7%;
  margin-left: -9.5%;
  border-top-right-radius: 85px;
  border: 1px solid #dfe1ef;
  position: absolute;
  background: rgba(255, 255, 255, 1);
}

#about-me-par {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -25%;
}

#languages {
  margin-left: -4%;
  margin-top: 50%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  height: 24px;
}

.frm-btn {
  margin-left: -5%;
  margin-bottom: 0%;
}

.frm-btn:hover {
  color: rgba(57, 109, 242, 1);
}

.frameworks {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: -2%;
  margin-top: 8%;
  color: rgba(0, 0, 0, 1);
}

.frameworks:hover {
  color: #6070ff;
}

#contact-me {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 752px;
  margin-top: 54.8%;
  border-top-left-radius: 85px;
  background: rgba(96, 112, 255, 1);
}

#contact-me-h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 24%;
}

#contact-me-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgba(235, 235, 255, 1);
  margin-top: -6%;
  margin-bottom: 10%;
}

.name-email {
  width: 87%;
  height: 48px;
  border-radius: 8px;
  justify-content: center;
  margin-left: 5%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  border: 0;
}

.name-email::placeholder {
  position: relative;
  left: 15px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(23, 43, 77, 1);
}

#email {
  margin-top: 3%;
}

#txt-message {
  width: 73%;
  height: 135px;
  border-radius: 8px;
  margin-left: 5%;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 15px 38px 15px 16px;
}

#txt-message::placeholder {
  position: relative;
}

.button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
  width: 160px;
  height: 60px;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
  color: rgba(96, 112, 255, 1);
  background: rgba(255, 255, 255, 1);
}

.btn-border {
  border: 2px solid rgba(96, 112, 255, 1);
}

.button:hover {
  background: #7f8cff;
  color: rgba(255, 255, 255, 1);
}

#resume-btn {
  width: 190px;
  height: 60px;
  margin-top: 8%;
  margin-left: 5%;
}

.lang-frmwrk-ul {
  list-style-type: none;
}

#home {
  margin-top: 5%;
  margin-left: 30%;
}

.btn:hover {
  background: #6070ff;
  color: rgba(255, 255, 255, 1);
}

#in-touch-btn {
  margin-top: 4%;
  margin-left: 5%;
}

#eclipse-5 {
  margin-right: 23%;
  float: right;
  margin-top: -12%;
}

#ellipse-5 {
  width: 10%;
  height: 10%;
  margin-left: 72%;
  margin-top: 165%;
  position: absolute;
}

#ellipse-3 {
  width: 50px;
  margin-left: 87%;
  margin-top: 9%;
  position: absolute;
}

.desk-js-frm {
  display: none;
}

.desktop-only,
.desk-ellipse {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    margin-left: 5%;
    width: 85%;
    height: 100%;
  }

  #nav-section {
    width: 85%;
    height: 90px;
    background: #fff;
  }

  #time,
  #hamburger {
    display: none;
  }

  .navbar-icons,
  .blue-color,
  .icon {
    display: none;
  }

  #logo-text {
    margin-top: -10%;
    margin-left: 35%;
  }

  #top-section {
    display: flex;
    margin-top: 6%;
    width: 85%;
  }

  .headline-section {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 95px;
    background-image: url(./images-desktop/background.png);
  }

  #headline-paragraph,
  #contact-link {
    width: 55%;
    margin-left: 20%;
  }

  #header-text {
    margin-left: 20%;
  }

  #about-header-text {
    width: 25%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .contact-icons {
    width: 20%;
    height: 5%;
    align-self: center;
    margin-left: 20%;
  }

  #contact-link {
    margin-left: 0;
  }

  .link {
    width: 10%;
    height: 5%;
    margin-left: 20%;
    margin-top: -5%;
  }

  .works-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20%;
    margin-top: -4%;
  }

  .project-1 {
    display: flex;
    width: 1000px;
    margin-left: 70%;
    height: 400px;
  }

  .tonic,
  .radio-btns,
  .prjct-text-t,
  .btn-border {
    margin-left: 110%;
  }

  #btn-border-1 {
    margin-top: 2%;
  }

  .radio-btns {
    width: 300px;
  }

  .prjct-text-t {
    width: 438px;
  }

  .lang-btn {
    margin-left: 102%;
  }

  #languages-frmwrk-btns {
    width: 100%;
  }

  #select-lan {
    width: 40%;
    border: 0;
  }

  .tonic {
    margin-top: -70%;
  }

  .img-project {
    width: 448px;
    height: 390px;
    margin-top: 1%;
  }

  .project-2 {
    width: 1000px;
    height: 400px;
    margin-top: 50%;
    margin-left: -2%;
  }

  #multi-post-2 {
    margin-top: -35%;
  }

  #radio-btns-2 {
    margin-top: -3%;
  }

  #multi-post-2,
  #radio-btns-2,
  #prjct-text-2,
  #btn-border-2 {
    margin-left: 5%;
  }

  #prjct-text-2 {
    margin-top: 0;
    width: 438px;
  }

  #lang-btn-2 {
    margin-left: 6.5%;
    margin-top: 1%;
  }

  #btn-border-2 {
    margin-top: 2%;
  }

  #img-project-2 {
    width: 500px;
    height: 400px;
    margin-top: 0;
    margin-left: 50%;
  }

  .project-3 {
    width: 1000px;
    height: 400px;
    margin-top: 17%;
    margin-left: -2%;
  }

  #img-project-3 {
    width: 500px;
    height: 400px;
    margin-top: 0;
    margin-left: 0;
  }

  #tonic-3 {
    margin-top: -35%;
    margin-left: 55%;
  }

  #radio-btns-3,
  #prjct-text-3,
  #bt-3 {
    margin-left: 55%;
  }

  #lang-btn-3 {
    margin-left: 53.6%;
    margin-top: 2%;
  }

  #bt-3 {
    margin-top: 2%;
  }

  #project-4 {
    width: 1000px;
    height: 400px;
    margin-top: 18%;
    margin-left: -2%;
  }

  #img-project-4 {
    width: 500px;
    height: 400px;
    margin-top: 0;
    margin-left: 50%;
  }

  #multi-post-4 {
    margin-top: -35%;
    margin-left: 5%;
  }

  #prjct-text-4 {
    margin-left: 5%;
    margin-top: 0;
    width: 434px;
  }

  #canopy-4 {
    margin-left: -350%;
  }

  #lang-btn-4 {
    margin-left: 6.5%;
    margin-top: 2.5%;
  }

  #btn-border {
    margin-left: 5%;
    margin-top: 2%;
  }

  .about-myself {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    width: 1295px;
    height: 150%;
    margin-left: -11%;
  }

  #lts-connect,
  #cnt-icons {
    margin-left: 10%;
  }

  #about-me-par {
    margin-top: -7%;
    margin-left: 10%;
    width: 35%;
  }

  #lts-connect {
    margin-top: -3%;
  }

  #resume-btn {
    margin-top: 2%;
    margin-left: 10%;
  }

  .languages-btn-s {
    margin-top: -26%;
    margin-left: 50%;
  }

  #js-html-css-frames {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 280px;
  }

  .frm-btn {
    width: 20px;
  }

  #js-frm,
  #html-frm,
  #css-frm {
    display: none;
  }

  .desk-js-frm {
    display: inline;
  }

  #desk-js-frm-img,
  #desk-js-frm-img-1,
  #desk-js-frm-img-2 {
    height: 80px;
  }

  .languages-frameworks,
  .frameworks {
    margin-left: 50%;
  }

  #skills {
    display: inline-block;
    margin-top: 105%;
    height: 20px;
  }

  #frame,
  #skills {
    margin-left: 0;
    margin-top: -10%;
    margin-bottom: 2%;
  }

  #skills-img {
    margin-top: 5%;
    margin-left: 0;
  }

  .frameworks {
    height: 100px;
    margin-top: 1%;
    width: 35%;
  }

  #skill {
    margin-bottom: 30%;
  }

  #contact-me {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    width: 1295px;
    height: 150%;
    margin-left: 0%;
    align-items: center;
    justify-content: flex-start;
  }

  #contact-me-h2 {
    margin-top: -8%;
  }

  #contact-me-text {
    margin-top: -1%;
    width: 45%;
  }

  #contact-form {
    margin-top: -7%;
    margin-left: 20%;
  }

  .name-email {
    width: 60%;
    align-self: center;
    border-radius: 0;
  }

  #txt-message {
    width: 53.5%;
    height: 30%;
    align-self: center;
    border-radius: 0;
    margin-left: 4.8%;
  }

  #in-touch-btn {
    margin-left: 25%;
    margin-top: 3%;
  }

  #ellipse-5 {
    margin-top: 30%;
    margin-left: -85%;
    width: 2.5%;
  }

  .desktop-only {
    display: inline-block;
    margin-left: 170%;
    height: 50px;
    width: 320px;
    margin-bottom: -10%;
  }

  .desk-nav-link-ul,
  .desk-nav-link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .desk-nav-link {
    list-style-type: none;
  }

  .desk-nav-link-ul {
    display: flex;
    justify-content: space-between;
    margin-left: -10%;
  }

  .desk-nav-link-ul :hover {
    background: rgba(96, 112, 255, 1);
  }

  #home {
    display: none;
  }

  #ellipse-3 {
    display: none;
  }

  .desk-ellipse {
    display: inline;
    margin-left: 70%;
    margin-top: 8%;
    float: right;
  }
}
