body {
  display: grid;
  height: 5433.5px;
  justify-content: center;
  width: 375px;
  align-items: flex-start;
  margin-left: 40%;
  background: #e5e5e5;
}

section {
  position: absolute;
  height: 630px;
  width: 375px;
  border-bottom-left-radius: 85px;
  margin-top: 0%;
}

#top-section {
  background: rgba(255, 255, 255, 0.5);
}

#logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  width: 76px;
  height: 20px;
  color: #6070ff;
  background: rgba(255, 255, 255, 1);
}

#header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  justify-content: baseline;
  align-items: center;
  color: #172b4d;
  order: 0;
  width: 327px;
  height: 150px;
  top: 114px;
  margin-left: 24px;
  margin-right: 300px;
  margin-bottom: 12px;
  margin-top: 110px;
}

#headline-paragraph {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin-left: 24px;
  margin-right: 24px;
}

#contact-link {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #7f8cff;
  order: 0;
  margin-left: 24px;
  text-decoration: none;
}

#vector-1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  border: 2px #acb7c3;
  margin-left: 270px;
  margin-top: -40px;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-left: 24px;
  margin-right: 180.83px;
  width: 200px;
}

.headline-section {
  background-image: url(./images/Background\ image.png.jpeg);
}

.link:hover {
  background-color: #6070ff;
  border-radius: 8px;
}

.top-nav {
  overflow: hidden;
  position: relative;
  height: 90px;
  background: rgba(255, 255, 255, 1);
}

#top-nav a {
  padding: 14px 16px;
  display: block;
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  font-family: "Poppins", sans-serif;
  width: 76px;
  height: 20px;
  margin-top: 50px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #6070ff;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
}

#hamburger {
  margin-left: 270px;
  margin-bottom: -35px;
  margin-top: -50px;
  border: none;
  outline: none;
}

.blue-color {
  color: #6070ff;
}

#time {
  height: 16px;
  width: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  margin-left: 50px;
  margin-top: 20px;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 30px;
  margin-left: 230px;
  margin-top: -45px;
}

#battery {
  height: 16px;
  width: 38px;
}

#cellular {
  width: 38px;
  height: 18px;
}

#wifi-icon {
  height: 28px;
  width: 38px;
  margin-top: -5px;
}

.logo-fa-icons {
  margin-top: -15px;
  margin-bottom: 50px;
  align-items: center;
}

/* Day 4 project styling starts here */

.works-section {
  display: flex;
  flex-direction: column;
}

.project-1 {
  width: 85%;
  height: 552px;
  margin-top: 235%;
  margin-left: 2.5%;
  border-radius: 16px;
  padding: 16px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
  display: flex;
}

.img-project {
  margin-top: 4%;
  width: 95%;
  height: auto;
  margin-left: 2%;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(96, 112, 255, 1);
  border-radius: 5px;
  border: none;
  background: rgba(235, 235, 255, 1);
}

#prjct-img-1 {
  margin-left: 4%;
  width: 100%;
}

.project-2 {
  width: 90%;
  height: 552px;
  margin-top: 190%;
  border-radius: 16px;
  margin-left: -4%;
  padding: 16px;
  gap: 12px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
}

.project-3 {
  width: 90%;
  height: 552px;
  margin-top: 35%;
  margin-left: -5%;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
}

.project-4 {
  width: 90%;
  height: 552px;
  margin-top: 40%;
  margin-left: -4%;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(223, 225, 230, 1);
}

.lang-btn-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  margin-left: -6%;
  margin-top: -1%;
}

.prjct-text-m {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: -3%;
}

.prjct-text-t {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-top: 2%;
}

.multi-post {
  width: 295px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 1%;
  color: rgba(23, 43, 77, 1);
}

.radio-btns {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 2%;
  margin-top: -2%;
}

.back-end {
  color: rgba(122, 134, 154, 1);
}

.radio {
  background: rgba(193, 199, 208, 0);
}

.canopy-1 {
  margin-top: -5%;
  color: rgba(52, 69, 99, 1);
}

.canopy {
  color: rgba(52, 69, 99, 1);
}

.about-myself {
  width: 375px;
  height: 1263px;
  margin-top: 39.7%;
  margin-left: -9.5%;
  border-top-right-radius: 85px;
  border: 1px solid #dfe1ef;
  position: absolute;
  background: rgba(255, 255, 255, 1);
}

#about-me-par {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: -25%;
}

#languages {
  margin-left: -4%;
  margin-top: 50%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  height: 24px;
}

.frm-btn {
  margin-left: -5%;
  margin-bottom: 0%;
}

.frm-btn:hover {
  color: rgba(57, 109, 242, 1);
}

.frameworks {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: -2%;
  margin-top: 8%;
  color: rgba(0, 0, 0, 1);
}

.frameworks:hover {
  color: #6070ff;
}

#contact-me {
  width: 375px;
  height: 752px;
  margin-top: 54.8%;
  border-top-left-radius: 85px;
  background: rgba(96, 112, 255, 1);
}

#contact-me-h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 103px;
}

#contact-me-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgba(235, 235, 255, 1);
  padding-top: 100;
}

.name-email {
  width: 87%;
  height: 48px;
  border-radius: 8px;
  justify-content: center;
  margin-left: 5%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  border: 0;
}

.name-email::placeholder {
  position: relative;
  left: 15px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(23, 43, 77, 1);
}

#email {
  margin-top: 3%;
}

#txt-message {
  width: 87%;
  height: 140px;
  border-radius: 8px;
  margin-left: 5%;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

#txt-message::placeholder {
  position: relative;
  left: 15px;
}

.button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
  width: 160px;
  height: 60px;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
  color: rgba(96, 112, 255, 1);
  background: rgba(255, 255, 255, 1);
}

.btn-border {
  border: 2px solid rgba(96, 112, 255, 1);
}

.button:hover {
  background: #7f8cff;
  color: rgba(255, 255, 255, 1);
}

#resume-btn {
  width: 190px;
  height: 60px;
  margin-top: 8%;
  margin-left: 5%;
}

.lang-frmwrk-ul {
  list-style-type: none;
}

#home {
  margin-top: 5%;
  margin-left: 30%;
}

.btn:hover {
  background: #6070ff;
  color: rgba(255, 255, 255, 1);
}

#in-touch-btn {
  margin-top: 4%;
  margin-left: 5%;
}

#eclipse-5 {
  margin-right: 23%;
  float: right;
  margin-top: -12%;
}

/* collaborative tsk strts here  */
.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/Form\ background-1.jpg);
  background-repeat: no-repeat;
  height: 779px;
  margin-top: 310%;
}

.form-header {
  width: 810px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  line-height: 52px;
  color: #fff;
}

.contact-form p {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  margin-top: 10px;
  color: #ebebff;
}

.contact-me {
  display: flex;
  flex-direction: column;
}

.input-name {
  border: 1px solid #cfd8dc;
  height: 48px;
  width: 327px;
  border-radius: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.message {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 16px;
  color: #b3bac5;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400px;
  font-family: "Poppins", sans-serif;
}

.form-btn {
  border: 1px solid #cfd8dc;
  height: 44px;
  width: 142px;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.enter-email {
  border-radius: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  height: 48px;
  width: 327px;
  line-height: 20px;
  display: flex;
  border: 0;
}
